---
layout: base
---

<div class="snippets">
  {% assign filtered_articles = site.data.articles %}
  {% if page.tag-name %}
    <div class="hero">
    <h1 class="snippets-heading">{{ page.tag-name | upcase }}</h1>
    </div>
    {% assign filtered_articles = site.data.articles | where_exp:"article", "article.tags contains page.tag-name" %}
  {% endif %}
  {{ content }}

  {% if filtered_articles.size > 0 %}
  <section>
    <header class="table-header">
      <div class="col">Title</div>
      <div class="col">Date</div>
      <div class="col">Description</div>
      <div class="col">Tags</div>
    </header>
    {% for item in filtered_articles %}
    <div class="article-entry">
      <div class="row row-meta" data-entry-id="{{forloop.index}}">
        <div class="col">{{ item.authors | join: ', ' }}</div>
        <div class="col">{{ item.date }}</div>
        <div class="col">{{ item.title }}</div>
        <div class="col">
        {% for tag in item.tags %}
        {% assign tag_from_collection = site.tag | where: "tag-name", tag | first %}
        {% assign href = site.baseurl | append: "/tag/" | append: tag_from_collection.auto-links-id %}
        <a href={{ href }} class="tag">{{ tag | replace: ' ', '&nbsp;' }}</a>{% unless forloop.last %} {% endunless %}
        {% endfor %}
        </div>
      </div>
      {% if item.description %}
      <div class="row row-detail row-detail-hidden" data-entry-id="{{forloop.index}}">
        <div class="col">
          <div>
          {{ item.description }}
          </div>
          {% if item.url %}
          <a href="{{ item.url }}" target="_blank" class="more" rel="noopener noreferrer">Read more</a>
          {% endif %}
        </div>
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </section>
  {% endif %}

</div>

<script src="{{ '/assets/js/table_details.js' | relative_url }}"></script>

